.card {
    padding: 20px;
    width: 350px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.card-img {
    height: 350px;
}

.card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-body {
    pad: 20px;
}

.btn {
    font-size: 20px;
    background-color: crimson;
    color: #fff;
    padding: 8px 25px;
    border-radius: 25px;
}